<footer>
    <div class="columns">
        <div class="column">
            <strong>BitLink</strong>
        </div>
        <div class="column">
            <a href="https://github.com/oos-videochat" target="_blank">View source on GitHub</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="column">
            <a href="/download">Download</a>
            <a href="/app/join">Join meeting</a>
            <a href="/app/create">Create meeting</a>
        </div>
    </div>
</footer>