<div class="top-bar">
    <div class="top-wrapper">
        <img class="logo" src="/assets/images/main.svg">
        <div class="hamburger-wrapper"><span class="fas fa-bars"></span></div>
        <nav class="top--nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/download/detect">Download</a></li>
                <li><a href="/app/join">Join Meeting</a></li>
            </ul>
        </nav>
    </div>
</div>
<script src="/js/nav.js"></script>
