<!DOCTYPE html>
<html lang="en">
<head>
    <%- include components/head.ejs %>
    <title>Bit Link</title>
</head>
<body>
<%- include('components/navbar.ejs', {page: "about"}) %>
<div class="section title-container">
    <div class="content">
        <h1>404 Not Found</h1>
    </div>
</div>
<div class="section main-content">
    <div class="maxed-width-container">
        <br>
        <p>Oh no, we can't find this page. Perhaps you would like to <a href="/app/join">join a meeting</a> or <a href="/">go home</a>?</p>
    </div>
</div>
<%- include('components/footer.ejs') %>
</body>
</html>
