<!DOCTYPE html>
<html lang="en">
<head>
    <%- include components/head.ejs %>
    <link rel="stylesheet" href="/css/about.css">
    <title>Bit Link</title>
</head>
<body>
<%- include('components/navbar.ejs', {page: "about"}) %>
<div class="section title-container">
    <div class="content">
        <h1>About</h1>
    </div>
</div>
<div class="section main-content">
    <div class="maxed-width-container">
        <p>BitLink was created by a group of teens to address the need for a better, open-source video chat and conferencing platform, so that people could have the best tools available to communicate online.</p>
        <h2>Creators</h2>
        <h3>Josh Brown</h3>
        <p>My name is Josh Brown. I'm a 17 year old High School student. Check my website out <a target="_blank" href="https://joshbrown.info">here</a>. </p>
        <h3>...</h3>
    </div>
</div>
</body>
</html>
