<!DOCTYPE html>
<html lang="en">
<head>
    <%- include components/head.ejs %>
    <link rel="stylesheet" href="/css/about.css">
    <title>Bit Link</title>
</head>
<body>
<%- include('components/navbar.ejs', {page: "about"}) %>
<div class="section title-container">
    <div class="content">
        <h1><%= error.status %></h1>
    </div>
</div>
<div class="section main-content">
    <div class="maxed-width-container">
        <h2>An error occurred.</h2>
    </div>
</div>
</body>
</html>
