<!DOCTYPE html>
<html lang="en">
<head>
    <%- include components/head.ejs %>
    <link rel="stylesheet" href="/css/index.css">
    <title>Bit Link</title>
</head>
<body>
<%- include('components/navbar.ejs', {page: "home"}) %>
<div class="section first">
    <div class="content">
        <h2 class="big-words">A new open source video conference tool keeping you connected when you need it most.</h2>
        <a href="https://app.bitlink.live"><button class="big-button green">Get Started</button></a>
    </div>
    <div class="skeleton-wrapper">
        <img src="/assets/images/skeleton.png" class="skeleton">
    </div>
</div>
<div class="skeleton-wrapper-mobile">
    <img src="/assets/images/skeleton.png" class="skeleton">
</div>
<div class="section second">
    <div class="maxed-width-container">
        <h2 class="section-title">Features</h2>
        <div class="cards-stack">
            <div class="card">
                <h3 class="card--title">No Download Needed</h3>
                <p class="card--content">BitLink can operate completely in browser on both mobile and desktop devices. Click the button below to start using BitLink.</p>
                <a href="https://app.bitlink.live"><button class="big-button">Get Started</button></a>
            </div>
            <div class="card">
                <h3 class="card--title">Robust Chat System</h3>
                <p class="card--content">BitLink has a robust integrated chat system. Participants can send messages individually or to
                    to the entire room. Participants can edit and delete messages. When a new participant joins, the entire chat history will be synced with their device.</p>
            </div>
            <div class="card">
                <h3 class="card--title">Open Source</h3>
                <p class="card--content">BitLink is a fully open source program. You can view our code on GitHub by
                    clicking
                    the button below.</p>
                <a href="https://github.com/oss-videochat" target="_blank"><button class="big-button">GitHub</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
