<!DOCTYPE html>
<html lang="en">
<head>
    <%- include components/head.ejs %>
    <link rel="stylesheet" href="/css/index.css">
    <title>Bit Link</title>
</head>
<body>
<%- include components/navbar.ejs %>
<div class="section first">
    <div class="content">
        <h2 class="big-words">A new open source video conference tool keeping you connected when you need it most.</h2>
        <button class="big-button green">Download</button>
    </div>
</div>
<div class="section second">
    <div class="maxed-width-container">
        <h2 class="section-title">Features</h2>
        <div class="cards-stack">
            <div class="card">
                <h3 class="card--title">Open Source</h3>
                <p class="card--content">BitLink is a fully open source program. You can view our code on GitHub by clicking
                    the button below.</p>
            </div>
            <div class="card">
                <h3 class="card--title">Second Feature</h3>
                <p class="card--content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur vel turpis vel semper. Suspendisse enim tortor, blandit id molestie nec, blandit eu ligula.</p>
            </div>
            <div class="card">
                <h3 class="card--title">A Third Feature</h3>
                <p class="card--content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur vel turpis vel semper. Suspendisse enim tortor, blandit id molestie nec, blandit eu ligula.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
