<!DOCTYPE html>
<html lang="en">
<head>
    <%- include components/head.ejs %>
    <link rel="stylesheet" href="/css/index.css">
    <title>Bit Link</title>
</head>
<body>
<%- include('components/navbar.ejs', {page: "home"}) %>
<div class="section first">
    <div class="content">
        <h2 class="big-words">A new open source video conference tool keeping you connected when you need it most.</h2>
        <button class="big-button green">Download</button>
    </div>
</div>
<div class="section second">
    <div class="maxed-width-container">
        <h2 class="section-title">Features</h2>
        <div class="cards-stack">
            <div class="card">
                <h3 class="card--title">Unlimited Meeting Time</h3>
                <p class="card--content">We currently do not cap meeting times. Meeting hosts are be prompted every 2
                    hours to see if they would like to continue their meeting. This means you can stay connected for as long as you need - without worrying about costs.</p>
            </div>
            <div class="card">
                <h3 class="card--title">Robust Chat System</h3>
                <p class="card--content">BitLink has a robust integrated chat system. Participants can send messages to everyone, or just one person. Participants can react to messages with emoji such as thumbs up and thumbs down. Participants can edit and delete messages as
                    needed. All of these functions and more can be enabled and disabled by the host.</p>
            </div>
            <div class="card">
                <h3 class="card--title">Open Source</h3>
                <p class="card--content">BitLink is a fully open source program. This means it's built by the community, for the community, so it will always have features people actually need. You can view or contribute to our code on GitHub by
                    clicking
                    the button below.</p>
                <a href="https://github.com/oos-videochat" target="_blank"><button class="big-button">GitHub</button></a>
            </div>
        </div>
    </div>
</div>
<%- include('components/footer.ejs') %>
</body>
</html>
