.main-download-container {
    max-width: 500px;
}

h2.download-title {
    font-size: 2em;
    text-align: left;
}

.other-options-container {
    border-top: gray 1px solid;
    margin-top: 20px;
    padding-top: 20px;
}

.main-download-container p {
    font-size: 1.3em;
}

.big-button {
    font-size: 1em;
}

.main-content {
    padding: 0 30px 30px;
}
