* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 15px;
    color: #151948;
    background: #fbfbfb;
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 1000px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }
}

.big-button {
    font-size: 0.8em;
    padding: 13px 30px;
    border-radius: 50px;
    background: #4744d5;
    border: none;
    color: #fcfcfc;
    font-weight: 500;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
.big-button:hover {
    background: #4a47ea;
}

.big-button.green {
    background: #00d79a;
}
.big-button.green:hover {
    background: #00e5a5;
}


.maxed-width-container {
    max-width: 1500px;
    margin: 0 auto;
}

.title-container {
    background: linear-gradient(to right bottom,  #5958ff, #4744d5);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.title-container h1 {
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}

.main-content {
   margin: 20px;
}

.main-content h2 {
    text-align: center;
    font-size: 2.8em;
}
.main-content h3 {
    font-size: 2.1em;
}

.main-content p {
    font-size: 1.6em;
}

.main-content h4 {
    font-size: 1.6em;
}
.main-content li {
    font-size: 1.2em;
}

.title-container a {
    color: unset;
    text-decoration: none;
}
