.first {
    background: linear-gradient(to right bottom, #5958ff, #4744d5);
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    overflow: hidden;
}

.content {
    max-width: 60%;
    font-size: 1.6em;
    font-weight: 800;
    padding: 20px 20px 20px 50px;
    position: relative;
    z-index: 1;
}

.big-words {
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.skeleton-wrapper {
    padding-top: 80px;
    position: relative;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skeleton {
    max-width: 100%;
    max-height: 100%;
    padding: 25px;
}

.skeleton-wrapper-mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .content {
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding: 20px;
    }

    .first {
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .skeleton-wrapper {
        display: none;
    }
    .skeleton-wrapper-mobile {
        display: block;
        overflow: visible;
        height: 100px;
       margin-bottom: 50px;
        position: relative;
    }

    .skeleton {
        max-height: unset;
        max-width: unset;
        padding: 0;
        height: 200px;
        position: absolute;
        left: 50%;
        box-shadow: 0px 0px 20px rgba(0,0,0, 0.3);
        transform: translate(-50%, -50%);
    }
}

.second {
    margin-top: 30px;
}

.card {
    min-height: 300px;
}

.section-title {
    font-size: 35px;
    text-align: center;
}

.section:last-child {
    margin-bottom: 100px;
}
