.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    transition: background-color 500ms;
}

.top-bar.scrolled {
    background: #4744d5;
}

.top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
}

.top--nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.top--nav ul li {
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.top--nav ul li:after {
    content: " ";
    height: 3px;
    width: 0;
    position: relative;
    display: block;
    top: 1px;
    background: #00d79a;
    transition: width 200ms ease-out;
}

.top--nav ul li:hover {
    color: #eeeeee;
}

.top--nav ul li.hover-underline:hover:after {
    color: #eeeeee;
    width: 100%;
}

.top--nav ul li.hover-underline.active:after {
    width: 100%;
}

.logo {
    height: 75px;
}

.top--nav ul li a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    display: block;
    height: 100%;
}

.top--nav ul li a.highlighted {
    padding: 10px;
    background-color: #00d79a;
    border-radius: 20px;
}

.hamburger-wrapper {
    display: none;
    font-size: 25px;
    color: white;
}

@media screen and (max-width: 800px) {
    .top--nav {
        display: none;
        position: absolute;
        width: 100%;
        background: #4744d5;
        padding: 20px;
        margin: 0;
        top: 80px;
        left: 0;
        text-align: center;
    }

    .top--nav ul {
        flex-direction: column;
    }

    .top--nav ul li{
        display: block;
        margin: 10px 0 ;
    }


    .hamburger-wrapper {
        display: block;
    }

    .top-bar.active .top--nav {
        display: block;

    }
}
