.button {
    font-size: 18px;
    padding: 13px 30px;
    border-radius: 50px;
    background: #4744d5;
    border: none;
    color: #fcfcfc;
    font-weight: 500;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.button:hover {
    background: #4a47ea;
}

.button.green {
    background: #00d79a;
}
.button.green:hover {
    background: #00e5a5;
}

