.topBar {
    position: fixed;
    z-index: 100;
    top: 45px;
    width: 100%;
    height: 80px;
    transition: background-color 500ms;
}

.topBar.scrolled {
    background: #4744d5;
}

.topWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
}

.topNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.topNav ul li {
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.topNav ul li a:after {
    content: " ";
    height: 3px;
    width: 0;
    position: relative;
    display: block;
    top: 1px;
    background: #00d79a;
    transition: width 200ms ease-out;
}

.topNav ul li:hover {
    color: #eeeeee;
}

.topNav ul li a:hover:after {
    color: #eeeeee;
    width: 100%;
}

.topNav ul li.active a:after {
    width: 100%;
}

.logo {
    height: 75px;
}

.topNav ul li a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    display: block;
    height: 100%;
}

.hamburgerWrapper {
    display: none;
    font-size: 25px;
    color: white;
}

@media screen and (max-width: 800px) {
    .topNav {
        position: absolute;
        width: 100%;
        background: #4744d5;
        padding: 20px;
        margin: 0;
        top: 80px;
        left: 0;
        text-align: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 200ms;
    }
    .topNav.active {
        pointer-events: auto;
        opacity: 1;
    }

    .topNav ul {
        flex-direction: column;
    }

    .topNav ul li{
        display: block;
        margin: 10px 0;
    }
    .topNav ul li a {
        display: inline-block;
    }


    .hamburgerWrapper {
        display: block;
    }

    .topBar.active .topNav {
        display: block;

    }
}

.alertMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ff8167;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    height: 45px;
    z-index: 20;
}
