.top {
    background: linear-gradient(to right bottom,  #5958ff, #4744d5);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.top h1 {
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}
.bottom {
    font-size: 20px;
}

.bottom h2 {
    text-align: center;
    font-size: 38px;
}

