.top {
    background: linear-gradient(to right bottom, #5958ff, #4744d5);
    height: 600px;
}
.topContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    overflow: hidden;
    max-width: 1400px;
    margin: 0 auto;
}

.skeletonWrapper {
    padding-top: 80px;
    position: relative;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skeleton {
    max-width: 100%;
    max-height: 100%;
    padding: 25px;
}

.skeletonWrapperMobile {
    display: none;
}

.content {
    max-width: 60%;
    font-size: 1.6em;
    font-weight: 800;
    padding: 20px 20px 20px 50px;
    position: relative;
    z-index: 1;
}

.bottom {
    margin-bottom: 100px;
}

.sectionTitle {
    font-size: 35px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .content {
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding: 20px;
    }

    .top {
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .skeletonWrapper {
        display: none;
    }
    .skeletonWrapperMobile {
        display: block;
        overflow: visible;
        height: 100px;
        margin-bottom: 50px;
        position: relative;
    }

    .skeleton {
        max-height: unset;
        max-width: unset;
        padding: 0;
        height: 200px;
        position: absolute;
        left: 50%;
        box-shadow: 0 0 20px rgba(0,0,0, 0.3);
        transform: translate(-50%, -50%);
    }
}
